body{
	background: linear-gradient(to top left, #33ccff 0%, #222 100%)
}
header h1{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	font-size: 500%;
	padding: 3%;
	font-weight: 900;
}
h2{
	text-align: center;
	background: #456874;
	padding: 1%;
	font-size: 400%;
	font-weight: 700;
	border-radius: 10px;
}
.col-md-3{
	background: #fff;
	border-radius: 25px;
	border: 4px solid;
	border-color: #fff;
	margin: 2.3% 4.1% 2.3% 4.1%;
}
.col-md-3>h1{
	text-align: center;
	color: #fff;
	font-size: 500%;
	padding: 3%;
	font-weight: 900;
	background: #098;
	border: 2px solid;
	border-radius: 20px;
	margin-top: 3.5%;
	font-family: serif;
	font-style: italic;
}
button{
	margin: 5%;
	width: 90%;
}
.dropdown-menu{
	width: 90%;
}
.dropdown-item{
	color: #222;
	font-weight: 900;
}
.dropdown-item:hover{
	color: #fff;
	background: #222;
}
img{
	width: 7%;
}